.icon-container {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    padding: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.icon {
    width: 50px;
    height: 40px;
    line-height: 50px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #999999;
    transition: background-color 0.3s, color 0.3s;
}


/* Mengubah warna latar belakang dan warna ikon saat ikon aktif */
.icon.active {
    background-color: green; /* Warna latar belakang hijau saat ikon aktif */
    color: white; /* Warna ikon putih saat ikon aktif */
}

/* Mengubah warna latar belakang dan warna ikon saat dihover pada ikon yang aktif */
.icon.active:hover {
    background-color: green; /* Tetap menggunakan warna latar belakang hijau saat dihover */
    color: white; /* Tetap menggunakan warna putih saat dihover */
}


