/* CSS untuk slider gambar */
.slider-container {
    width: 100%;
    margin-bottom: 200px;
    height: 400px; /* Sesuaikan tinggi banner sesuai kebutuhan Anda */
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300%;
    /*Lebarslidersesuaidenganlebarbanner(jumlahgambar*100%)*/height: 100%;
    /*Tinggislidersesuaidengantinggibanner*/transition: transform 0.5s ease-in-out;
    position: relative;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menyesuaikan gambar dengan lebar dan tinggi banner */
}

/* CSS untuk tombol previous dan next */
.slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: #fff; /* Sesuaikan dengan warna teks yang sesuai */
    cursor: pointer;
    z-index: 1; /* Tambahkan z-index agar tombol muncul di atas gambar */
}

.slider-container .prev {
    left: 10px;
}

.slider-container .next {
    right: 10px;
}

/* CSS untuk responsifitas */
@media (max-width: 768px) {
    .slider-container {
        height: 300px; /* Sesuaikan tinggi banner sesuai kebutuhan Anda untuk layar yang lebih kecil */
    }
}

/* CSS untuk daftar buku */
.recommendations {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 55px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; /* Tambahkan overflow-y untuk scroll vertikal */
}

.recommendations h2 {
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* Memastikan elemen sejajar secara vertikal */
}

.recommendations h2 p {
    font-size: 15px;
    margin-top: 12px;
    margin-left: auto; /* Membuat teks "Lihat Semua" berdempetan di sisi kanan */
}

/* Tambahkan margin pada tombol prev dan next */
.prev-book,
.next-book {
    font-size: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 7px;
    padding: 8px 12px;
}

.book-slider {
    display: flex;
    flex-wrap: wrap; /* Tambahkan flex-wrap untuk buku mendistribusikan secara vertikal */
    overflow-x: auto; /* Tambahkan overflow-x agar dapat melakukan scroll horizontal */
    transition: transform 0.5s ease-in-out;
    margin-bottom: 60px;
}

.book-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
}


.book {
    width: 225px; /* Sesuaikan lebar buku */
    text-align: center;
    border: 0px solid #ddd;
    overflow: hidden;
    cursor: pointer; /* Tambahkan cursor pointer pada sampul buku */
}

.book img {
    width: 225px;
    border-radius: 8px;
    height: 295px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    /*Efekbayangandisisibawah*/object-fit: cover;
    /*Menyesuaikangambardenganlebardantinggibuku*/-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* CSS untuk daftar buku alam sekitar */
.environment-books {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 55px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; /* Tambahkan overflow-y untuk scroll vertikal */
}

.environment-books h2 {
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* Memastikan elemen sejajar secara vertikal */
}

.environment-books h2 p {
    font-size: 15px;
    margin-top: 12px;
    margin-left: auto; /* Membuat teks "Lihat Semua" berdempetan di sisi kanan */
}

/* Tambahkan margin pada tombol prev dan next */
.prev-book-env,
.next-book-env {
    font-size: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 7px;
    padding: 8px 12px;
}

.book-slider-env {
    display: flex;
    flex-wrap: wrap; /* Tambahkan flex-wrap untuk buku mendistribusikan secara vertikal */
    overflow-x: auto; /* Tambahkan overflow-x agar dapat melakukan scroll horizontal */
    transition: transform 0.5s ease-in-out;
    margin-bottom: 60px;
}

.book-list-env {
    display: flex;
    flex-direction: row;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
}

.book-env {
    width: 225px; /* Sesuaikan lebar buku */
    text-align: center;
    border: 0px solid #ddd;
    overflow: hidden;
    cursor: pointer; /* Tambahkan cursor pointer pada sampul buku */
}

.book-env img {
    width: 225px;
    border-radius: 8px;
    height: 295px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    /*Efekbayangandisisibawah*/object-fit: cover;
    /*Menyesuaikangambardenganlebardantinggibuku*/-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* CSS untuk daftar buku yang menghibur */
.funny-books {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 55px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; /* Tambahkan overflow-y untuk scroll vertikal */
}

.funny-books h2 {
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* Memastikan elemen sejajar secara vertikal */
}

.funny-books h2 p {
    font-size: 15px;
    margin-top: 12px;
    margin-left: auto; /* Membuat teks "Lihat Semua" berdempetan di sisi kanan */
}

/* Tambahkan margin pada tombol prev dan next */
.prev-book-funny,
.next-book-funny {
    font-size: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 7px;
    padding: 8px 12px;
}

.book-slider-funny {
    display: flex;
    flex-wrap: wrap; /* Tambahkan flex-wrap untuk buku mendistribusikan secara vertikal */
    overflow-x: auto; /* Tambahkan overflow-x agar dapat melakukan scroll horizontal */
    transition: transform 0.5s ease-in-out;
    margin-bottom: 60px;
}

.book-list-funny {
    display: flex;
    flex-direction: row;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
}

.book-funny {
    width: 225px; /* Sesuaikan lebar buku */
    text-align: center;
    border: 0px solid #ddd;
    overflow: hidden;
    cursor: pointer; /* Tambahkan cursor pointer pada sampul buku */
}

.book-funny img {
    width: 225px;
    border-radius: 8px;
    height: 295px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    /*Efekbayangandisisibawah*/object-fit: cover;
    /*Menyesuaikangambardenganlebardantinggibuku*/-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}


/* CSS untuk daftar buku tentang keluarga dan persahabatan */
.family-friend-books {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 55px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; /* Tambahkan overflow-y untuk scroll vertikal */
}

.family-friend-books h2 {
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* Memastikan elemen sejajar secara vertikal */
}

.family-friend-books h2 p {
    font-size: 15px;
    margin-top: 12px;
    margin-left: auto; /* Membuat teks "Lihat Semua" berdempetan di sisi kanan */
}

/* Tambahkan margin pada tombol prev dan next */
.prev-book-ff,
.next-book-ff {
    font-size: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 7px;
    padding: 8px 12px;
}

.book-slider-ff {
    display: flex;
    flex-wrap: wrap; /* Tambahkan flex-wrap untuk buku mendistribusikan secara vertikal */
    overflow-x: auto; /* Tambahkan overflow-x agar dapat melakukan scroll horizontal */
    transition: transform 0.5s ease-in-out;
    margin-bottom: 60px;
}

.book-list-ff {
    display: flex;
    flex-direction: row;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
}

.book-ff {
    width: 225px; /* Sesuaikan lebar buku */
    text-align: center;
    border: 0px solid #ddd;
    overflow: hidden;
    cursor: pointer; /* Tambahkan cursor pointer pada sampul buku */
}

.book-ff img {
    width: 225px;
    border-radius: 8px;
    height: 295px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    /*Efekbayangandisisibawah*/object-fit: cover;
    /*Menyesuaikangambardenganlebardantinggibuku*/-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}



/* ------------------------Style untuk Pop-up Box ---------------------------*/
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    background: none;
    width: auto;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.popup-content {
    background: #fff;
    padding-top: 40px;
    max-height: 95vh; /* Sesuaikan tinggi maksimum sesuai kebutuhan */
    overflow-y: auto; /* Aktifkan scrolling vertikal jika kontennya lebih panjang */
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}


.popup-img {
    max-width: 35%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.popup h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.popupBookAuthor {
    text-align: center;
    max-width: 100%;
    margin: 0 auto; 
    padding-bottom: 20px;
}

.popupBookInfo {
    color: #666;
    font-size: 1em;
    line-height: 1.4;
    text-align: justify; 
    max-width: 400px;
    margin: 15px auto; 
    margin-bottom: 40px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #999;
    cursor: pointer;
}

.close-popup:hover {
    color: #333;
}


/* CSS untuk tombol Baca dan Download pada pop-up */
.popup-content .read-button,
.popup-content .download-button,
.popup-content .favorite-button {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 14px;
    align-items: center;
    justify-content: center;
    outline: none;
}

.popup-content .read-button {
    background-color: #28a745; /* Warna hijau */
    color: #fff; /* Warna teks putih */
    border-radius: 8px;
    padding: 12px 120px; 
    margin-right: 5px;
}

.popup-content .read-button i {
    margin-right: 8px; /* Menambah jarak antara ikon dan teks "Baca" */
}

.popup-content .read-button:hover {
    background-color: #218838; /* Warna hijau yang sedikit lebih gelap saat dihover */
}

.popup-content .download-button,
.popup-content .favorite-button {
    background-color: white;
    border-radius: 8px;
    font-size: 30px;
    display: inline-flex;
    color: rgb(129, 128, 128);
    vertical-align: middle;
}

.download-button img {
    width: 25px; 
    margin-left: 15px;
    margin-bottom: 8px;
    height: auto; /* Biarkan tinggi otomatis agar proporsi gambar tetap terjaga */
}

/* Informasi Halaman pada Pop-up */

.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 117px;
    max-width: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#combinedBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 15px;
    margin: 20px 0 15px 210px;
    width: 220px;
    height: 105px;
    position: relative;
}

#combinedBox .info-label::after {
    content: "";
    display: block;
    border-bottom: 1px solid #ddd; /* Garis horizontal tipis */
    width: 250%; 
    margin-top: 5px; 
    margin-left: -75%;
}

.info-label,
.info-angka {
    display: block;
    margin-bottom: 5px;
}

.info-angka {
    font-size: 30px;
}

/* Gaya untuk ilustrator, kategori, original URL, dan lisensi */
#ilustratorBox,
#kategoriBox,
#originalURLBox,
#lisensiBox {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    max-width: 400px;
}

/* Gaya bold hanya untuk judul, bukan teks isian */
#ilustratorBox .info-label,
#kategoriBox .info-label,
#originalURLBox .info-label,
#lisensiBox .info-label {
    font-weight: bold;
}

.info-text {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 4px;
    text-decoration: underline;
}

.info-link {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 4px;
    text-decoration: underline;
    color: blue;
}

.info-link:hover {
    text-decoration: underline;
}

#lisensiBox {
    margin-bottom: 50px;
}



/* CSS UNTUK KATEGORI BUKU */
.category-container {
    margin-top: 30px;
    margin-left: 23%; /* Memberikan jarak di kiri container */
    margin-right: 20%; /* Memberikan jarak di kanan container */
}

.category-container h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.category-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Mengatur kotak ke tengah */
}

.category-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-right: 35px; /* Atur jarak di kanan kotak */
    margin-bottom: 35px; /* Atur jarak di bawah kotak */
    cursor: pointer;
    flex: 1 1 150px;
    max-width: 150px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Memposisikan teks di bagian bawah */
}

.category-box span {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px; /* Memberikan jarak antara teks dan bawah kotak */
}


.category-box img {
    width: 90px; /* Mengatur lebar gambar */
    height: 90px; /* Mengatur tinggi gambar */
    align-self: center;
    margin-bottom: 40px; /* Memberikan jarak antara gambar dan teks */
}


/* CSS untuk Kontainer Motivasi */
.motivation-container {
    text-align: center;
    margin-left: 15%; /* Memberikan jarak di kiri container */
    margin-right: 15%;
}

.motivation-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 35px;
    color: orange;
}

.motivation-container h3 {
    font-size: 30px;
}

.motivation-box {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 700px;
}

.quotation-mark {
    font-size: 36px;
    margin-bottom: 10px;
}

.motivation-text {
    font-style: italic;
    margin-bottom: 10px;
}

.teacher-info {
    margin-top: 20px;
}

.teacher-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teacher-details h3 {
    margin-bottom: 5px;
}

.teacher-role {
    font-style: italic;
    font-size: 14px;
}

/* CSS untuk Footer */
footer {
    background-color: #493975;
    padding: 20px 0;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.school-logo img {
    width: 100px; /* Sesuaikan ukuran logo */
    height: auto;
}

.school-info {
    text-align: center;
}

.footer-links ul,
.social-media ul {
    list-style: none;
    padding: 0;
}

.footer-links a,
.social-media a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover,
.social-media a:hover {
    color: #202b8f;
}
