/* CSS untuk Navbar */
#navbar-container {
    position: relative;
}

.navbar-brand img.logo {
    max-height: 50px; /* Ubah ukuran logo sesuai kebutuhan */
}

.navbar-nav {
    margin: 0 auto; /* Untuk menengahkan Navbar */
}

.navbar-nav .nav-item .nav-link.active {
    color: green; /* Warna teks untuk tautan navbar aktif */
}

  
  /* Atur warna teks menjadi hijau ke  tika aktif */
  .navbar.navbar-light .navbar-brand.active,
  .navbar.navbar-light .navbar-brand:active,
  .navbar.navbar-light .navbar-brand.show,
  .navbar.navbar-light .navbar-brand:hover,
  .navbar.navbar-light .navbar-brand:focus {
      color: green;
  }

  /* Atur warna teks menjadi hijau ketika tautan dalam navbar aktif */
  .navbar.navbar-light .nav-link.active,
  .navbar.navbar-light .nav-link:active,
  .navbar.navbar-light .nav-link.show,
  .navbar.navbar-light .nav-link:hover,
  .navbar.navbar-light .nav-link:focus {
      color: green;
  }





  /* CSS untuk Cerita Rakyat Page */
.image-container {
    position: relative;
    text-align: left;
    width: fit-content;
}

.image-container img {
    max-width: 70px; /* Atur lebar maksimum gambar */
}

.image-container h2 {
    margin: 10px 0 0;
    color: #333; 
    font-size: 40px;
}
